

#bg1 {
    text-align: center;
    background: linear-gradient(rgba(20, 20, 20, 0.9),
        rgba(20, 20, 20, .5)), url('../images/old_person_crutches.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
    min-height: 110%;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: auto;
    padding: 0 4px;
}

.outerRow {
    color: #333;
    padding: 1em;
    box-shadow: 0px 0px 7px 2.5px rgba(208, 200, 200, 0.2);
}

.light {
    background-color: white;
}

.dark {
    background-color: #f3f3f3;
}

